body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-size: 18px;
  color: var(--text-color-main);
  background-color: var(--bg-color-main);
  --link-light: rgb(255, 72, 0);
  --link-dark: rgb(255, 153, 0); }
  body.dark {
    --text-color-main: white; }
  body:not(.dark) {
    --text-color-main: black; }
  body.dark {
    --bg-color-main: black; }
  body:not(.dark) {
    --bg-color-main: white; }

h1 {
  font-size: 66px;
  font-weight: 700; }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 35px; } }
h1, h2 {
  text-transform: uppercase;
  margin-bottom: 0; }

.date {
  font-size: 150%; }

article, main {
  margin-left: auto;
  margin-right: auto;
  width: 75%; }
  article > h1, main > h1 {
    margin-top: 1rem;
    overflow: auto; }
  @media screen and (max-width: 768px) {
    article, main {
      width: 90%; } }
a {
  color: var(--color-link);
  text-decoration: none; }
  body.dark {
    --color-link: var(--link-dark); }
  body:not(.dark) {
    --color-link: var(--link-light); }
  a:hover {
    text-decoration: underline; }
  a.footnote-ref {
    text-decoration: none; }

pre, .sourceCode {
  background-color: var(--bg-color-code);
  overflow: auto;
  font-family: 'Fira Code', monospace; }
  body.dark {
    --bg-color-code: #111111; }
  body:not(.dark) {
    --bg-color-code: #e6e6e6; }

code:not(.sourceCode) {
  color: var(--inline-code-color);
  font-family: 'Fira Code', monospace; }
  body.dark {
    --inline-code-color: #e60000; }
  body:not(.dark) {
    --inline-code-color: #a00000; }

div.sourceCode {
  padding-left: 1rem;
  padding-right: 1rem; }

.sourceCode .ot, .sourceCode .op, .sourceCode .kw {
  color: var(--haskell-kw); }
  body.dark {
    --haskell-kw: red; }
  body:not(.dark) {
    --haskell-kw: #7a0000; }

.sourceCode .co {
  color: var(--haskell-co); }
  body.dark {
    --haskell-co: #919191; }
  body:not(.dark) {
    --haskell-co: #888888; }

.sourceCode .dt {
  color: var(--haskell-dt); }
  body.dark {
    --haskell-dt: #ff9900; }
  body:not(.dark) {
    --haskell-dt: #a06000; }

.sourceCode .dv {
  color: var(--haskell-dv); }
  body.dark {
    --haskell-dv: #ff0000; }
  body:not(.dark) {
    --haskell-dv: #d10000; }

.sourceCode .st {
  color: var(--haskell-st); }
  body.dark {
    --haskell-st: #00b928; }
  body:not(.dark) {
    --haskell-st: #009620; }

.sourceCode.polaris .dt {
  color: var(--polaris-repl); }
  body.dark {
    --polaris-repl: #ff0000; }
  body:not(.dark) {
    --polaris-repl: #ff0000; }

.multicode {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media screen and (max-width: 768px) {
    .multicode {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 5px; } }
/* The parent of the .lang span*/
.lang-p {
  margin-top: 0;
  margin-bottom: 0;
  background-color: var(--bg-color-code);
  overflow: auto; }
  .lang-p button {
    background: none;
    border: none; }
    .lang-p button:active {
      color: white; }

.lang {
  display: block;
  float: right;
  background-color: var(--lang-bg);
  color: var(--lang-fg);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%; }
  body.dark {
    --lang-bg: #5e0101; }
  body:not(.dark) {
    --lang-bg: #ff5e49; }
  body.dark {
    --lang-fg: white; }
  body:not(.dark) {
    --lang-fg: black; }

/* navbar */
.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr;
  background-color: var(--navbar-bg); }
  @media screen and (max-width: 768px) {
    .navbar {
      font-size: 80%;
      grid-template-columns: 1fr 1fr; }
      .navbar .navigation.middle {
        display: none; }
      .navbar > * {
        margin: 0;
        border-bottom: #2e2e2e solid 2px; } }
  body.dark {
    --navbar-bg: #000000; }
  body:not(.dark) {
    --navbar-bg: #000000; }
  .navbar > * {
    padding: 1rem; }
    @media screen and (max-width: 768px) {
      .navbar > * {
        padding: 0.5rem; } }
  .navbar * {
    color: var(--navbar-fg);
    font-weight: bold;
    text-decoration: none; }
    body.dark {
      --navbar-fg: #ffffff; }
    body:not(.dark) {
      --navbar-fg: #ffffff; }
  .navbar ul > * {
    display: inline-block; }

.navigation {
  text-align: center;
  vertical-align: middle; }
  .navigation a:hover {
    text-decoration: none; }
  .navigation > .header {
    font-size: 250%;
    font-weight: bolder; }
  .navigation *:not(.header) {
    font-size: 150%; }

.dark-mode {
  border: none;
  padding: 1rem;
  padding-bottom: 0;
  background: none; }

#dark-mode-light {
  color: white;
  font-weight: 300;
  /* hack to get a white emoji font */
  filter: grayscale(100%) brightness(200%); }

/* /navbar */
/*index*/
.index > h1 {
  text-align: center; }

.post-summaries * {
  font-size: 28px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: var(--summary-fg); }
  @media screen and (max-width: 768px) {
    .post-summaries * {
      font-size: 22px; } }
  body.dark {
    --summary-fg: white; }
  body:not(.dark) {
    --summary-fg: black; }

.post-summaries > li {
  list-style: none;
  padding-bottom: 2rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr auto; }
  @media screen and (max-width: 768px) {
    .post-summaries > li {
      grid-template-rows: 1fr auto;
      grid-template-columns: 1fr; } }
.post-summaries a:hover {
  color: var(--summary-hover);
  text-decoration: none; }
  body.dark {
    --summary-hover: red; }
  body:not(.dark) {
    --summary-hover: #a00000; }

.post-summaries .date {
  text-align: right; }

/* /index */
/* about */
.about h1 {
  text-align: center; }

article.about {
  width: 50%;
  background-color: var(--about-article-color);
  padding: 3rem; }
  body.dark {
    --about-article-color: black; }
  body:not(.dark) {
    --about-article-color: white; }

.social-list {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(6, 1fr);
  text-align: center; }
  .social-list a {
    color: var(--social-color); }
    body.dark {
      --social-color: white; }
    body:not(.dark) {
      --social-color: black; }
    .social-list a:hover {
      color: var(--social-color-hover); }
      body.dark {
        --social-color-hover: var(--link-dark); }
      body:not(.dark) {
        --social-color-hover: var(--link-light); }

.about-background {
  background-image: url(/assets/about-background.png);
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -100; }

/* /about */
.tooltip {
  position: absolute;
  background-color: #000000;
  color: white;
  padding: 1rem 1rem;
  border-radius: 15px; }
  .tooltip code {
    color: var(--tooltip-code-color); }
    body.dark {
      --tooltip-code-color: #ff5050; }
    body:not(.dark) {
      --tooltip-code-color: #ff5050; }

.tooltip-link {
  text-decoration: none;
  color: unset; }
  .tooltip-link:hover {
    color: var(--tooltip-code-hover-color);
    text-decoration: none; }
    body.dark {
      --tooltip-code-hover-color: rgba(0, 255, 85, 0.74); }
    body:not(.dark) {
      --tooltip-code-hover-color: #ff7b00; }

.tooltip-wrapper:not(:hover) .tooltip {
  display: none; }

table {
  margin-left: auto;
  margin-right: auto; }

.grid.parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(100%/var(--child-count)), 1fr)); }
  .grid.parent.c2 {
    --child-count: 2
    ; }
  .grid.parent.c3 {
    --child-count: 3
    ; }

.grid:not(.parent) {
  overflow: hidden; }

details.haskell-specific {
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #f2e2ff;
  color: black; }
  details.haskell-specific summary {
    cursor: pointer;
    padding: 0.5rem; }
    details.haskell-specific summary:hover {
      background-color: #d2bde4; }
    details.haskell-specific summary::marker {
      content: ""; }
    details.haskell-specific summary img {
      height: 1.5rem; }
  details.haskell-specific .content {
    margin: 0 0.5rem; }

/* Katex does not support \textsc, so we use this hack to interpret \textmd as (effectively) \textsc.

   \textmd *usually* set's the font weight to 'medium'. This is the default, so the only use of this
   would be resetting the font weight inside something like \textbf. This has never been necessary on 
   this site so we resuse the CSS class to emulate \textsc instead. */
.katex .textmd {
  font-variant: small-caps; }
