<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{title}}">
    <meta property="og:site_name" content="welltypedwit.ch">
    <meta property="og:description" content="{{title}}">
    <meta property="twitter:title" content="{{title}}">
    <meta property="twitter:description" content="{{title}}">
    <meta property="twitter:url" content="{{url}}">
    <meta property="twitter:type" content="summary">
    <meta property="twitter:domain" content="welltypedwit.ch">
    <meta name="twitter:card" content="summary_large_image">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&family=Inria+Sans:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/cohost.css">

    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss.xml">
</head>

<body>
    <div class="underline-wrapper">
        <nav class="main-nav">
            <a href="/cohost" class="site-title">welltypedwit.ch/cohost</a>
        </nav>
    </div>

    <article class="post">
        <h1 class="post-header">{{title}}</h1>
        <span class="date">{{date}}</span>        
        {{body}}

        <hr>
        <footer>
            This was originally posted on cohost.org. As cohost shut down in late 2024, it now lives here.
        </footer>    
    </article>
</body>

</html>