<!doctype html>
<html lang="en">

<head>
  <title>Cohost</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/main.css" rel="stylesheet">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&family=Inria+Sans:wght@400;700&display=swap"
    rel="stylesheet">

    <style>
      header a {
        text-decoration: none;
        color: white;
      }
      header a:hover {
        color: transparent
      }
    </style>
</head>

<body>
  <header>
    <h1 class="main-header">
        <a href="/">welltypedwit.ch</a>/cohost
    </h1>
  </header>
  <article>
    There was once a wonderful website by the name of cohost.org. As the final age of posting came to an end in October 2024, cohost shut down.
    These are the final remains of my presence on cohost.
    <ul class="post-list">
       {{entries}}
    </ul>
  </article>
</body>

</html>