<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{titleNoCode}}</title>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{titleNoCode}}">
    <meta property="og:site_name" content="Prophetlabs">
    <meta property="og:description" content="{{titleNoCode}}">
    <meta property="twitter:title" content="{{titleNoCode}}">
    <meta property="twitter:description" content="{{titleNoCode}}">
    <meta property="twitter:url" content="{{link}}">
    <meta property="twitter:type" content="summary">
    <meta property="twitter:domain" content="prophetlabs.de">
    <meta name="twitter:card" content="summary_large_image">
    {{perform include("static-html/common-head.html")}}

    {{
        let scriptImports = dynamicVar("scriptImports")
        if scriptImports == nil then {
            ""
        } else {
            stringJoin("", map(\import -> "<script src=" ~ import ~ "></script>", scriptImports))
        }
    }}

    {{perform include("static-html/katex.html")}}
    {{perform include("static-html/grid-reflow.html")}}
</head>

<body>
    {{perform include("static-html/header.html")}}
    {{body}}
    <script src="/js/main.js"></script>

</body>