<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Prophetlabs</title>
        <meta name="author" content="Finn Schneider">
        <meta name=viewport content="width=device-width, initial-scale=1.0">
        
        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">         
        
        <link rel="stylesheet" type="text/css" href="/assets/post.css">

        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss.xml">
    </head>
    <body>
        {{header}}
        <main class="index">
            <h1>Posts</h1>
            <ul class="post-summaries">
                {{post-summaries}}
            </ul>    
        
        </main>
        <script src="/js/main.js"></script>
    </body>
</html>