<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Prophetlabs</title>
        <meta name=viewport content="width=device-width, initial-scale=1.0">
        
        {{perform include("static-html/common-head.html")}}

        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss.xml">
    </head>
    <body>
        {{perform include("static-html/header.html")}}
        <main class="index">
            <h1>Posts</h1>
            <div class="post-summaries">
                {{postSummaries}}
            </div>    
        
        </main>
        <script src="/js/main.js"></script>
    </body>
</html>